[submodule "package/aurpackage/android-studio"]
	path = package/aurpackage/android-studio
	url = https://aur.archlinux.org/android-studio.git
[submodule "package/aurpackage/jdk"]
	path = package/aurpackage/jdk
	url = https://aur.archlinux.org/jdk.git
[submodule "package/aurpackage/android-sdk"]
	path = package/aurpackage/android-sdk
	url = https://aur.archlinux.org/android-sdk.git
[submodule "package/aurpackage/android-platform"]
	path = package/aurpackage/android-platform
	url = https://aur.archlinux.org/android-platform.git
[submodule "package/aurpackage/android-apktool"]
	path = package/aurpackage/android-apktool
	url = https://aur.archlinux.org/android-apktool.git
[submodule "package/aurpackage/android-sdk-platform-tools"]
	path = package/aurpackage/android-sdk-platform-tools
	url = https://aur.archlinux.org/android-sdk-platform-tools.git
[submodule "package/aurpackage/drive"]
	path = package/aurpackage/drive
	url = https://aur.archlinux.org/drive.git
[submodule "package/aurpackage/mons"]
	path = package/aurpackage/mons
	url = https://aur.archlinux.org/mons.git
[submodule "package/aurpackage/spotify"]
	path = package/aurpackage/spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "package/aurpackage/xss-lock"]
	path = package/aurpackage/xss-lock
	url = https://aur.archlinux.org/xss-lock.git
[submodule "package/aurpackage/yubico-yubioath-desktop"]
	path = package/aurpackage/yubico-yubioath-desktop
	url = https://aur.archlinux.org/yubico-yubioath-desktop.git
[submodule "package/aurpackage/signal"]
	path = package/aurpackage/signal
	url = https://aur.archlinux.org/signal.git
[submodule "package/aurpackage/gnucash"]
	path = package/aurpackage/gnucash
	url = https://aur.archlinux.org/gnucash.git
[submodule "package/aurpackage/android-sdk-build-tools"]
	path = package/aurpackage/android-sdk-build-tools
	url = https://aur.archlinux.org/android-sdk-build-tools.git
[submodule "package/aurpackage/vivaldi"]
	path = package/aurpackage/vivaldi
	url = https://aur.archlinux.org/vivaldi.git
[submodule "package/aurpackage/tor-browser"]
	path = package/aurpackage/tor-browser
	url = https://aur.archlinux.org/tor-browser.git
[submodule "package/aurpackage/pacaur"]
	path = package/aurpackage/pacaur
	url = https://aur.archlinux.org/pacaur.git
[submodule "package/aurpackage/cower"]
	path = package/aurpackage/cower
	url = https://aur.archlinux.org/cower.git
